body
{
    width: 100%;
    font-family: sans-serif;
}

form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Div Class form */
.form
{
    width: 50%;
    height: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input
{
    width: 100%;
    height: 100%;
    color: teal;
    padding-top: 15px;
    border: none;
    outline: none;

}

.form label
{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.form label::after
{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid teal;
    transform: translateX(-100%);
}

.content-name 
{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name
{
    transform: translateY(-150%);
    font-size: 14px;
    color: teal;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after
{
    transform: translateX(0%);
}

/* DIV Class radio */

form input[type="radio"],
form input[type="checkbox"]
{
    display: none;
    
}
